body {
    margin:0;
   }
   #navbar {
    background-color: rgb(54, 50, 50);
    position: fixed;
    display: flex;
    flex-direction: row;
    top: -56px;
    width: 100%;
    transition: top 0.8s;
   }
   #navbar a {
    color: white;
    padding: 16px;
    text-decoration: none;
    letter-spacing: 3px;
   }
   #navbar a:hover {
    background-color: rgb(246, 244, 244);
    color: rgb(54, 50, 50);
   }
   